/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('44.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#loginForm {
    background-color: #000000;
    width: 150px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(143, 26, 26, 0.2);
}

label {
    display: block;
    margin-bottom: 2px;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
}
